@tailwind base;
@tailwind components;
@tailwind utilities;

body, #root {
    width: 100vw;
    height: 95vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

* {
    animation: ease-in-out;
    transition: all 0.3s;
}